/****RESET****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****MAIN****/
html, body {
	position: relative;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	background-color: #000;
	overflow-x:hidden; 
}
.clr {
	clear: both;
}
#content {
	min-height: 100%;
	position: relative;
}
#player {
	height:100%;
}
a, #btnGames label {
	color: #d2d0cb;
	text-decoration: underline;
	cursor: pointer;
}
#nav a, #btnGames label {
	text-decoration: none;
}
p, h1, h2, h3 {
	color: #d2d0cb;
}
h2 {
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 30px;
}
p {
	line-height: 2em;
}
p .bold, p.bold {
	font-weight: 700;
} 
header {
	height: 75px;
	width: 100%;
	background-color: rgba(10,10,10,.9);
	position: absolute;
	z-index: 5;
}
.logo {
	display: block;
	text-indent: -9999px;
	height: 62px;
	width: 250px;
	background: url('img/da_logo.png') no-repeat;
	background-size:cover;
	float: left;
	margin-left: 40px;
	margin-top: 5px;
}
input[type=checkbox]{display: none;}
.hamburger {display: none;}
#nav {
	height: 75px;
	float: right;
	margin-right: 40px;
	position: relative;
}
#nav > li {
	display: inline-block;
	border-left: 1px solid #2f2f2f;
	font-weight: 700;
	position: relative;
	margin-right: -4px;
}
#nav > li:last-child {
	border-right: 1px solid #2f2f2f;
}
#nav > li > a, #btnGames label {
	display: block;
	padding: 29.5px 20px;
}
#nav > li a:hover, #btnGames label:hover {
	background-color: rgba(10,10,10,.9);
	color:#fff;
}
#btnGames label {
	background-image: url('img/arrowDN.png');
	background-size: 8px;
	background-position: bottom 5px center;
	background-repeat: no-repeat;
}
#btnGames label:hover {
	background-image: url('img/arrowDN_active.png');
	background-size: 8px;
	background-position: bottom 5px center;
	background-repeat: no-repeat;
}
#btnJoin a {
	background-color: #e9ce16;
	color:#111111;
}
#btnJoin a:hover {
	background-color: #fff !important;
	color:#e9ce16 !important;
}
.dropdown {
	position: absolute;
	top: 100%;
	left: -1px;
	display: none;
	background-color: rgba(10,10,10,.5);
	border-left: 1px solid #2f2f2f;
}
.dropdown li {
	width: 400px;
}
.dropdown li a {
	text-transform: uppercase;
	letter-spacing: .25em;
	display: block;
	padding: 20px 10px;
	-webkit-transiton: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.dropdown li:hover > a {
	background-color: rgba(10,10,10,1) !important;
}
li#btnGames:hover > a {
	padding-bottom: 31.5px;
	background-color: rgba(10,10,10,.9);
	color:#fff;
}
input[type=checkbox]#gamesMenu:checked ~ .dropdown {
	display: block;
}
input[type=checkbox]#gamesMenu:checked ~ label {
	color: white;
	background-image:url('img/arrowUP_active.png');
}
#btnDow {
	text-indent: 140px;
	background:url('img/dow_wings.png') no-repeat left 20px center;
	background-size: 100px;
}

/******FOOTER******/
footer {
	position: fixed;
	bottom: 0;
	background-color: rgba(10,10,10,0.9);
	height: 50px;
	width: 100%;
	z-index: 2;
	clear: both;
}
footer .logo {
	margin-top: 10px;
	width: 125px;
	height: 31px;
}
#footerNav {
	margin: 16px auto 0 auto;
	width: 308px;
	position: absolute;
	left: 0;
	right: 0;
}
#footerNav li {
	display: inline-block;
	color: #d2d0cb;
	margin-left: 20px;
	font-size: 10px;
}
#footerNav li:first-child {
	margin-left: 0;
}
#copyright {
	font-size: 10px;
	color: #808080;
	position: absolute;
	margin-right: 40px;
	margin-top:18px;
	right: 0;
}

/******VIDEO BACKGROUND******/
#player {
	position: relative;
	/**padding-bottom: 56.25%;**/
	height: 100%;
	width: 100%;
}
#player iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#overlay {
	position: absolute;
	height: 100%;
	width: 100%;
}
#dowCTA {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 450px;
	height: 200px;
	z-index: 3;
}
#overlay .close {
	position: absolute;
	top: -20px;
	left: -20px;
	display: block;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #111111;
	display: none;
}
#overlay .close:hover {
	background-color: #d2d0cb;
	color: #111111;
}
#fade {
	position: absolute;
	margin: auto;
	height: 100%;
	width: 100%;
	opacity: .5;
	z-index: 2;
}
#overlay #dowOverlayLogo {
	width: 450px;
}
#overlay #line {
	height: 50px;
	width: 1px;
	margin-left: 15px;
}
#dowLrn, #dowEnlist {
	background: url('img/dow_overlay_btns2.png') no-repeat top left;
	display: block;
	text-indent: -9999px;
}
#dowLrn {
	width: 153px;
	height: 18px;
	background-size: 153px;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
}
#dowLrn:hover {
	background-position: 0 -21px;
}
#dowEnlist {
	text-decoration: none;
	width: 194px;
	height: 18px;
	background-size: 153px;
	background-position: 0 -42px;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}
#dowEnlist:hover {
	background-position: 0 -63px;
}
#dowEnlist span {
	font-family: 'Neuton', serif;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 0.35em;
	text-align: center;
}



#splash {
	height: 300px;
	width: 100%;
	background:url('img/about.png') no-repeat center;
	background-size: cover;
	margin-bottom: 50px;
}

.wrapper {
	width: 1000px;
	margin: auto;
}

.narrower {
	width: 600px;
	margin: auto;
}
#kickstarter {
	padding: 0 25%;
}
#kickstarter img {
	width: 50%;
}
/*******************************/
/************* DOW *************/
/*******************************/
#axisSoldier {
	position: absolute;
	right: -20%;
	bottom: 0;
}
#alliedSoldier {
	position: absolute;
	left: -20%;
	bottom: 0;
}

@media screen and (min-width: 1600px) {
	#axisSoldier {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	#alliedSoldier {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
	#axisSoldier {
		position: absolute;
		bottom: 0;
		right: -30%;
	}
	#alliedSoldier {
		position: absolute;
		bottom: 0;
		left: -30%
	}
}
@media screen and (max-width: 799px) {
	#axisSoldier {
		position: absolute;
		bottom: 0;
		right: -65%;
	}
	#alliedSoldier {
		position: absolute;
		bottom: 0;
		left: -65%;
	}
}
#content.dow, #content.about {
	padding-bottom: 100px;
}
.dow {
	background:url('img/dow_bg.png') no-repeat center;
	background-size: cover;
}
#overview {
	position: relative;
	width: 50%;
	margin: auto;
	padding-top: 150px;
	left: 0;
	right: 0;
}
#dowLogo {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 300px;
	z-index: 3;
}
.lineHoriz {
	width: 100%;
	top: 175px;
	height: 1px;
	margin: 20px 0;
	background: url('img/line_horiz.png') repeat-x top center;
}
.brief {
	font-family: 'Neuton', serif;
	font-weight: 200;
	text-align: center;
}
.brief.signupText {
	color: #e9ce16;
}
input[type=email] {
	display: block;
	height: 40px;
	width: 400px;
	font-size: 16px;
	line-height: normal;
	padding: 0 10px;
	font-family: 'Neuton', serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .25em;
	border:none;
	vertical-align: baseline;
	text-align: center;
	margin: 20px auto;
}
input[type=email]:focus {
	outline:1;
}
#mc_embed_signup .button {
	display: block;
	margin: 0 auto;
	background-image: none;
	border:none;
	background:#e9ce16;
	color:#111111;
	font-family: 'Neuton', serif; 
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: .25em;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	border-bottom: 1px solid #d2d0cb;
	cursor: pointer;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-transiton: padding 0.25s;
    -moz-transition: padding 0.25s;
    -ms-transition: padding 0.25s;
    -o-transition: padding 0.25s;
    transition: padding 0.25s;
}
#mc_embed_signup .button:hover {
	color: #111;
	background-color: #d2d0cb;
	padding-left: 60px;
	padding-right: 60px;
}

.thumbvid {
	margin: 20px 40px;
}

#gameplay {
	height: 164px;
	width: 460px;
	border: 1px solid #dbbd68;
	cursor: pointer;
	background-image: url("img/dowTrailerShort2.gif");
	margin: 20px 20px;
}

.button i{
    font-size: 1.375em;
    position: absolute;
    right: 1.5em;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    top: 2.5em;
    text-align: center;
    color: #000;
    background-color: #dbbd68;
    transition: color .5s ease-in-out;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

#paypal {
	padding-left: 140px;
	padding-top: 20px;
	color: white;
}

#steamstore {
	position: relative;
	display: block;
	margin-left: -67px;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 3;
}

#embedtrailer{
	position: relative;
	display: block;
	margin-left: -30px;	
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 3;
}

/*******************************/
/************ ANIMS ************/
/*******************************/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@media screen and (max-width: 999px) {
	#content {
		height: auto;
	}
	.wrapper {
		width: 100%;
	}
	.narrower {
		width: 80%;
	}
	.menuWrap ul {
		padding: 0;
		-webkit-transform-style:preserve-3d;
		transform-style:preserve-3d;
	}
	.menuWrap #nav li {
		position: relative;
		display: inline;
		margin:0;
		border:none;
	}
	.menuWrap #nav li a, #btnGames label {
		background-color: rgba(10,10,10,0.9);
		margin-bottom: 1px;
	}
	.menuWrap #nav #btnJoin a {
		background-color: #e9ce16;
		color:#111111;
	}
	.dropdown {
		position: relative;
	}
	.dropdown a {
		padding: 29.5px 20px;
		background-color: #d2d0cb !important;
		color: rgb(17,17,17);
	}
	#btnDow {
		padding-top: 60px;
		text-indent: 0;
		background-position: center top 20px;
	}
	
	.menuWrap #nav {
		opacity: 0;
		height: auto;
		z-index: 3;
		margin: 76px 0 0 0;
		width: 100%;
		position: absolute;
		text-align: center;
		pointer-events:none;
		-webkit-transform:translateY(-10px);
		transform:translateY(-10px);
		-webkit-backface-visibility:hidden;
		backface-visibility:hidden;
		-webkit-transiton: 0.25s;
	    -moz-transition: 0.25s;
	    -ms-transition: 0.25s;
	    -o-transition: 0.25s;
	    transition: 0.25s;
	}
	.menuWrap #hamburger {
		display: inline-block;
		border:none;
		width: 45px;
		height: 45px;
		text-indent: -900em;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		outline: none;
		background-color: rgba(10,10,10,0.9);
		float: right;
		margin: 15px 15px 0 0;
	}
	.menuWrap #hamburger:after {
		content: '';
		position: absolute;
		width: 68%;
		height: 5px;
		background-color: #d2d0cb;
		top: 10px;
		left: 16%;
		box-shadow: 0 10px 0 #d2d0cb, 0 20px 0 #d2d0cb;
	}
	input[type=checkbox]#menuBtn:checked ~ #nav {	
		opacity: 1;
		pointer-events:auto;
		-webkit-transform:translateY(0px);
		transform:translateY(0px);
	}
	#player {
		display: none;
	}
	#content {
		background: url('img/vidstill.jpg') no-repeat center center;
		background-size: cover;
		height: auto;
		width: 100%;
	}
	#content.about {
		background: none !important;
	}
	#content.dow {
		background:url('img/dow_bg.png') no-repeat center;
	}
	#footerNav {
		display: none;
	}
	#gameplay {
		width: 100%;
		background:url("img/dowTrailerShort2.gif") no-repeat center center;
		margin: 20px auto;
	}
	input[type=email] {
		width: 90%;
		padding: 0 5%;
	}
}
@media screen and (max-width: 500px) {
	#dowCTA {
		width: inherit;
	}
	#overlay #dowOverlayLogo {
		width: 80%;
		padding-left: 10%;
	}
	#dowLogo {
		width: 100%;
	}
	#axisSoldier {
		position: absolute;
		bottom: 0;
		right: -95%;
	}
	#alliedSoldier {
		position: absolute;
		bottom: 0;
		left: -95%;
	}
}

@media screen and (max-width: 450px) {
	#dowLrn, #btnEnlist {
		background-image: url('img/dow_overlay_btns2.png');
	}
	#dowLrn, #dowEnlist {
		width: 100%;
		float: none;
		margin-left: 0;
	}
	#dowLrn {
		background-position: top center;
		margin-bottom: 20px;
	}
	#dowLrn:hover {
		background-position: center -21px;
	}
	#dowEnlist {
		text-align: center;
		background-position: center -42px;
	}
	#dowEnlist:hover {
		background-position: center -63px;
	}
	#overlay #line {
		display: none;
	}
}
